<footer class="footer p-8 w-100">
    <div class="flex fx-wrap">
            <article class="footer-article w-100 w-tablet-50">
            <h2>Informacion</h2>
            <ul class="p-8">
                <li><i class="em-1 p-8 fas fa-envelope"></i><a href="#" >Contacto</a></li>
                <li><i class="em-1 p-8 fas fa-question-circle"></i><a href="#">Preguntas frecuentes</a></li>
                <li><i class="em 1 p-8 fas fa-book-open"></i><a href="#"> Terminos y condiciones</a></li>
                <li><i class="em-1 p-8 fas fa-credit-card"></i><a href="#"> Medios de Pago</a></li>
            </ul>
        </article>

        <article class="footer-article w-100 w-tablet-50">
            <h2>Redes</h2>
            <ul class="p-8">
                <li><i class="em-1 p-8 fab fa-instagram-square"></i><a href="#"> Instagram</a></li>
                <li><i class="em-1 p-8 fab fa-facebook"></i><a href="#">Facebook</a></li>
                <li><i class="em-1 p-8 fab fa-twitter"></i><a href="#">Twiter</a></li>
            </ul>
        </article>
        </div>

        <div class="w-100">
            <p>Copyright <i class="fas fa-copyright"></i> 2022-2022 TAKE OFF SURF S.R.L.Todos los derechos reservados.</p>
        </div>

        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>  
</footer>