<header class="p-8 bg-light-blue w-100">
       
        <div class="flex fx-align-center" >
        <h1 class="w-50 w-desktop-20 text-center">
            <img  class="w-50 em-2" src="/images/logo/logo-take-off-surf.png" alt="Take Off Surf" />
        </h1> 

        <form class="flex p-8 w-50 w-desktop-40">
            <div class="form-field w-100 mb-0">
              <div class="input-with-button">
                <input class="form-input" type="text" name="search" placeholder="Buscar productos, escuelas y más" />
                <button class="input-button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
        </form>

        <nav class="w-50 nav-section w-desktop-40 hide desktop-fx">
            <ul class="mb-8 flex fx-wrap">
                <li class="p-8"><a href="/contacto"><i class="em-1 p-8 far fa-address-book"></i>Contactanos</a></li>
                <li class="p-8"><a href="/login"><i class="em-1 p-8 fas fa-user"></i>Iniciar sesión</a></li>
                <li class="p-8"><a href="/register"><i class="em-1 p-8 fas fa-sign-in-alt"></i>Registrate</a></li>
            </ul>
        </nav>
        </div>

        <nav class="w-100 hide tablet-fx">            
            <ul class="nav-section w-100 fx-space-between mb-8 flex">
                <li class="mx-10"><a class="font-medium" href="/"> Inicio </a></li>
                <li class="mx-10"><a class="font-medium" href="/"> Productos </a></li>
                <li class="mx-10"><a class="font-medium" href="/escuelas-de-surf"> Escuelas de Surf</a></li>
                <li class="mx-10"><a class="font-medium" href="/nosotros"> Nosotros </a></li>
                <li class="mx-10"><a class="font-medium" href="/carrito"> Carrito </a></li>
            </ul>            
        </nav>
        
       
        <div class="burger-menu font-heading tablet-hide mt-8 text-center">
            <i class="fas fa-bars"></i>
        </div>        
    
</header>