<!DOCTYPE html>

<html lang="en">
<head>
<%- include ('./partials/head') %> 
</head>

<body class="bg-light-gray w-100">

<%- include ('./partials/header') %> 

    <main class="w-100 p-8 m-center">

        <div class="w-100 p-8 m-center">
            <ul class="nav-section w-50  mb-8 flex">
                <li class="mx-10"><a href="/">Inicio</a></li>
                <li class="mx-10">/</li>
                <li class="mx-10"><a href="/carrito">Carrito</a></li>
            </ul>
        </div>
    
        <div class="banner-carrito">
            <img src="/images/img-surf/banner-carrito.jpg" alt="Imagen surf">
            <div><h2>Carrito</h2></div>
        </div>

        <section class="mb-24">
            <table class="carrito-table">

                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th></th>
                </tr>

                <tr>
                    <th>
                        <a href="">
                            <img src="/images/tablas/tabla-2.jpg" alt="Imagen tabla de surf">
                        </a>
                    </th>

                    <th>
                        <input type="number" name="cant-carrito" id="cant-carrito">
                    </th>

                    <th>
                        $100.000
                    </th>

                    <th>
                        <i class="fas fa-times"></i>
                    </th>
                </tr>      

                <tr>
                    <th>
                        <a href="">
                            <img src="/images/tablas/tabla-3.jpg" alt="Imagen tabla de surf">
                        </a>
                    </th>

                    <th>
                        <input type="number" name="cant-carrito" id="cant-carrito">
                    </th>

                    <th>
                        $100.000
                    </th>

                    <th>
                        <i class="fas fa-times"></i>
                    </th>
                </tr>      

            </table>
        </section>

        <div class="flex fx-space-between mb-24 p-8 w-100 fx-right">
            <table class="text-right">
                
                <tr class="flex fx-space-between font-medium">
                    <th>Envío</th>
                    <th>$0</th>
                </tr>                 
                
                <tr class="flex fx-space-between font-medium">
                    <th>Total del pedido:</th>
                    <th>200.000</th>
                </tr>
               
            </table>
        </div>
        
        <div class="mb-24 w-100 p-8 m-center">
            <button type="submit" href="/productos.html" class="carrito-button">Seguir comprando</button>
            <button type="submit" href="/pagar.html" class="carrito-button">Pagar</button>            
        </div>

    </main>

<%- include ('./partials/footer') %> 
    
</body>


</html>





