<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('./partials/head') %> 
    <link rel = "stylesheet" href = "/css/register.css"/>
</head>
<body>

<%- include ('./partials/header') %> 

    <main class="reg-main">
        <div class="">
 

            <div class="form-box">
                <form class="register-form" action="/" method="get">
                    <h2 class="reg-form-title">Contactanos</h2>
                    <div class="reg-form-image">
                        <img>
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" type="text" name="first-name" id="nombre" required placeholder="Nombre">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" type="text" name="last-name" id="apellido" required placeholder="Apellido">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" type="mail" name="email" id="email" required placeholder="Correo Electrónico">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" type="tel" name="tel" id="telefono" placeholder="Telefono">
                    </div>
                    <div class="reg-inp reg-form-date-select">
                        <input class="reg-inp" type="asunto" name="asunto" id="Asunto" placeholder="Asunto">
                    </div>
                    <div class="reg-inp reg-form-date-select">
                        <input  class="reg-inp" type="text" id="coments" name="coments" required  maxlength="500"
                         placeholder="Comentarios"> 
                                     
                    </div>
                    
                    <div class="reg-form-box">
                        <button class="reg-form-button" type="submit" value="Enviar" name="enviar">Enviar</button>
                    </div>
                    <div class="reg-form-box">
                        <button class="reg-form-button" type="reset" value="Resetear" name="resetear">Resetear</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="register-login-bar">

        </div>
    </main>
<%- include ('./partials/footer') %> 
</body>
</html>