<!DOCTYPE html>

<html lang="en">
<head>
<%- include ('./partials/head') %> 
<link rel = "stylesheet" href = "/css/register.css"/>
</head>

<body class="bg-light-gray w-100">

    <%- include ('./partials/header') %> 
    
    <main>

        <div class="">
            <!--
             <div class="fb-side-banner">
 
             <img  src="/public/images/register/reg-side-banner.jpg" alt="Register">
             </div> 
         -->
 
            <div class="form-box">
                <form class="register-form" action="/productos" method="POST" enctype="multipart/form-data">
                    <h2 class="reg-form-title">Crear producto</h2>
                    <div class="reg-form-image">
                         <img>
                    </div>
                    <div class="reg-form-box">
                         <input class="reg-inp" type="text" name="type" id="type" placeholder="Nombre del producto" required>
                    </div>

                    <div class="reg-form-box">
                        <input class="reg-inp" type="text-box" name="description" id="description" placeholder="Descripción" required>
                    </div>
                    <div class="reg-form-box">
                    <input class="reg-inp" type="text" name="brand" id="brand" placeholder="Marca" required>
                    </div>
                    <div class="reg-form-box">
                         <label for="image" class="form-label">Imagen</label>
                         <input class="reg-inp" type="file" name="image" id="image" placeholder="Imagen del producto">
                    </div>
                    <div class="reg-form-box">
                        <label for="category" class="form-label">Categoría</label>
                        <select class="reg-inp" name="category" id="category">
                            <option value="Tablas de Surf">Tablas de Surf</option>
                            <option value="Accesorios">Accesorios</option>
                        </select>
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" type="text-box" name="price" id="price" placeholder="Precio" required>
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" type="text-box" name="discount" id="discount" placeholder="Descuento" required>
                    </div>                

                    <div class="reg-form-box">
                         <button class="reg-form-button" type="submit">Guardar Producto</button>
                    </div>
                    <div class="reg-form-box">
                        <button class="reg-form-button" type="reset">Resetear formulario</button>
                    </div>
                 </form>
             </div>
         </div>

         <div class="register-login-bar">
 
         </div>


    </main>


    <%- include ('./partials/footer') %> 
    
</body>


</html>