<!DOCTYPE html>

<html lang="en">
<head>
<%- include ('./partials/head') %> 
    <link rel = "stylesheet" href = "/css/escuelas.css"/>
    <meta name="viewport" content="width=device-width">

<body class="bg-light-gray w-100">

<%- include ('./partials/header') %> 

<main class="main-pos">
    <div class="schools-titlebar">
        Escuelas de surf
    </div>
    <div class="schools-main">

        <div class="sch-list">
        <div class='sch-ind'>
            <div class="sch-name">Escuela Luna Roja</div>
            <div class="sch-address">- RP11, Km 542, Chapadmalal, Provincia de Buenos Aires, Argentina</div>
            <div class="sch-phone">+54 223 426-8249</div>
            <div class="sch-email">escuela@playalunaroja.com</div>
            <div class="sch-geoloc" hidden>-38.172868984143925, -57.639148726233124</div>
        </div>
        <div class='sch-ind'>
            <div class="sch-name">Geriba Surf School</div>
            <div class="sch-address">Av. Geriba-RJ - Rua Gerbert Périssé, Búzios - RJ, 28950-000, Brazil</div>
            <div class="sch-phone">+55 22 99939 1464</div>
            <div class="sch-email">geriba-surf-school@negocio.site</div>
            <div class="sch-geoloc" hidden>- -22.778700614924198, -41.912167531540355</div>
        </div>
        <div class='sch-ind'>
            <div class="sch-name">Central Surf School</div>
            <div class="sch-address">Brisas de Zicatela, 70934 Puerto Escondido, Oaxaca, Mexico</div>
            <div class="sch-phone">+52 954 582 2285</div>
            <div class="sch-email">central.surf@yumping.com.mx</div>
            <div class="sch-geoloc" hidden>15.837796113704108, -97.04396563354605</div>
        </div>
        <div class='sch-ind'>
            <div class="sch-name">Carcavelos Surf School</div>
            <div class="sch-address">Av. Marginal, 2775-604 Carcavelos, Portugal</div>
            <div class="sch-phone">+351 962 850 497</div>
            <div class="sch-email">info@carcavelossurfschool.com/</div>
            <div class="sch-geoloc" hidden>39.298771378492106, -9.053769513911874</div>
        </div>
        <div class='sch-ind'>
            <div class="sch-name">West Coast Surf School</div>
            <div class="sch-address">Purple House, Beach Rd, Melkbosstrand, Cape Town, 7441, South Africa</div>
            <div class="sch-phone">+27 606 083 858</div>
            <div class="sch-email">info@westcoastsurfschool.co.za</div>
            <div class="sch-geoloc" hidden>-33.71711135229682, 18.445002629527767</div>
        </div>
        <div class='sch-ind'>
            <div class="sch-name">Aloha Surf India</div>
            <div class="sch-address">behind the Saxony Cottages & Restaurant, South end, Agonda, Goa 403702, India</div>
            <div class="sch-phone">+91 978 984 4191</div>
            <div class="sch-email">school@alohasurfindia.com</div>
            <div class="sch-geoloc" hidden>15.059541809562036, 73.99278802936834</div>
        </div>
                <div class='sch-ind'>
            <div class="sch-name">Surf School Maui</div>
            <div class="sch-address">1900 S Kihei Rd, Kihei, HI 96753, United States</div>
            <div class="sch-phone">+1 808 283 7913</div>
            <div class="sch-email">info@surfclubmaui.com</div>
            <div class="sch-geoloc" hidden>20.73768375190716, -156.44715698762792</div>
        </div>
            <div class='sch-ind'>
            <div class="sch-name">Niseko Surf school</div>
            <div class="sch-address">208-44 Takasago, Kutchan, Abuta District, Hokkaido 044-0076, Japan</div>
            <div class="sch-phone">+81 70 4799 5779</div>
            <div class="sch-email">info@niseko.jp</div>
            <div class="sch-geoloc" hidden>43.219910369771185, 140.9361776498949</div>
        </div>
            <div class='sch-ind'>
            <div class="sch-name">Let's Go Surfing</div>
            <div class="sch-address">128 Ramsgate Ave, North Bondi NSW 2026 Australia</div>
            <div class="sch-phone">+61 293 651 800</div>
            <div class="sch-email">info@letsgosurfing.com.au</div>
            <div class="sch-geoloc" hidden>-33.890541141609866, 151.28279749350673</div>
        </div>





        </div>

        <div class="schools-map">
            <iframe src="https://snazzymaps.com/embed/398546"  width="100%" height="800px" style="border:none;"  ></iframe>
        <!--style="overflow:hidden;height:100%;width:100%" height="100%" width="100%" -->
        </div>

    </div>

</main>

</body>


<%- include ('./partials/footer') %> 

</html>