<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAKE OFF SURF</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">

    <link rel = "stylesheet" href = "/css/normalize.css"/>
    <link rel = "stylesheet" href = "/css/utils.css"/>
    <link rel = "stylesheet" href = "/css/theme.css"/>
    <link rel = "stylesheet" href = "/css/styles-tablet.css"/>
    <link rel = "stylesheet" href = "/css/styles-desktop.css"/>
</head>

<body>

    <header class="p-8">
       
        <div class="flex fx-align-center">
        <h1 class="w-50">
            <img  class="w-50 em-2" src="/images/logo/logo2.jpg" alt="Take Off Surf" />
        </h1> 

        <nav class="p-8 w-50 nav-section fx-space-between fx-column">
            <ul class="mb-8 flex fx-column text-center">
                <li class="my-5"><a href="#"> Contact us </a></li>
                <li class="my-5"><a href="/login"> Log in </a></li>
                <li class="my-5"><a href="/register"> Register </a></li>
            </ul>
        </nav>
        </div>

        <nav class="w-100 bg-light-blue">            
            <ul class="nav-section w-100 fx-space-between mb-8 flex">
                <li class="mx-10"><a href="#"> Inicio </a></li>
                <li class="mx-10"><a href="/productos"> Productos </a></li>
                <li class="mx-10"><a href="/escuelas-de-surf"> Escuelas de Surf</a></li>
                <li class="mx-10"><a href="/nosotros"> Nosotros </a></li>
                <li class="mx-10"><a href="/carrito"> Carrito </a></li>
            </ul>            
        </nav>
        
       
        <div class="burger-menu font-heading tablet-hide mt-8 text-center">
            <i class="fas fa-bars"></i>
        </div>        
    
    </header>
    
    <main class="p-8">

        <section class="p-8 w-100">
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
            <div class="slide">
              <img src="./images/img-surf/img1.jpg" />
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                  <img src="./images/img-surf/img2.jpg" />
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                  <img src="./images/img-surf/img3.jpg"/>
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                  <img src="./images/img-surf/img4.jpg"/>
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-5" />
            <li class="slide-container">
                <div class="slide">
                  <img src="/images/img-surf/img5" />
                </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-6" />
            <li class="slide-container">
                <div class="slide">
                  <img src="./images/img-surf/img4.jpg" />
                </div>
            </li>
        
            <li class="nav-dots">
              <label for="img-1" class="nav-dot" id="img-dot-1"></label>
              <label for="img-2" class="nav-dot" id="img-dot-2"></label>
              <label for="img-3" class="nav-dot" id="img-dot-3"></label>
              <label for="img-4" class="nav-dot" id="img-dot-4"></label>
              <label for="img-5" class="nav-dot" id="img-dot-5"></label>
              <label for="img-6" class="nav-dot" id="img-dot-6"></label>
            </li>
        </ul>
        </section>
    
        <section class="seccion-productos">
          
          <section class="secciones">
          
          <h2>Tablas</h2>
          
          <div class="contenedor-productos">
          
              <article class="producto">
                  <a href="#"><img src="/images/tablas/tabla1.jpg" alt="Tabla 1"></a>
                  <div class="descrip-producto">
                      <p class="precio">$6.770</p>
                      <p class="descuento">40% OFF</p>
                  </div> 
                      <h3 class="nombre-producto">Tabla de surf</h3>
          
              </article>
          
          
              <article class="producto">
                  <a href="#"><img src="/images/tablas/tabla2.jpg" alt="Tabla 2"></a>
                  <div class="descrip-producto">
                      <p class="precio">$6.000</p>
                      <p class="descuento">20% OFF</p>
                  </div> 
                      <h3 class="nombre-producto">Wodeen table</h3>
              </article>
          
          
              <article class="producto">
                  <a href="#"><img src="/images/tablas/tabla3.jpg" alt="Tabla 3"></a>
                  <div class="descrip-producto">
                      <p class="precio">$3.000</p>
                      <p class="descuento">40% OFF</p>
                  </div> 
                      <h3 class="nombre-producto">Stand up table</h3>
              </article>
          
          
              <article class="producto">
                  <a href="#"><img src="/images/tablas/tabla4.jpg" alt="Tabla 4"></a>
                  <div class="descrip-producto">
                      <p class="precio">$1.770</p>
                      <p class="descuento">60% OFF</p>
                  </div> 
                      <h3 class="nombre-producto"> tabla de barrenar</h3>
              </article>
          
              <article class="producto">
                  <a href="#"><img src="/images/tablas/tabla3.jpg" alt="Tabla 3"></a>
                  <div class="descrip-producto">
                      <p class="precio">$3.000</p>
                      <p class="descuento">40% OFF</p>
                  </div> 
                      <h3 class="nombre-producto">Stand up table</h3>
              </article>
          
              </div>
          
          </section>
          
          <section class="secciones"> 
          
              <h2 class="titulo-secciones">Accesorios</h2>
          
              <div class="contenedor-productos">
          
                  <article class="producto">
                      <a href="#"><img src="/images/Accesorios/correa.jpg" alt="Correa"></a> 
                      <div class="descrip-producto">
                          <p class="precio">$500</p>
                          <p class="descuento">10% OFF</p>
                      </div> 
                          <h3 class="nombre-producto">Correa de sujecion</h3>
          
                  </article>
          
          
                  <article class="producto">
                      <a href="#"><img src="/images/Accesorios/funda.jpg" alt="Funda de tabla"></a> 
                      <div class="descrip-producto">
                          <p class="precio">$2.000</p>
                          <p class="descuento">15% OFF</p>
                      </div> 
                          <h3 class="nombre-producto">Funda de tabla</h3>
                  </article>
          
          
                  <article class="producto">
                      <a href="#"><img src="/images/Accesorios/parafina.jpg" alt="Parafina"></a> 
                      <div class="descrip-producto">
                          <p class="precio">$200</p>
                          <p class="descuento">50% OFF</p>
                      </div> 
                          <h3 class="nombre-producto">Parafina en barra</h3>
                  </article>
          
          
                  <article class="producto">
                      <a href="#"><img src="/images/Accesorios/quilla.jpg" alt="Quilla"></a> 
                      <div class="descrip-producto">
                          <p class="precio">$1.770</p>
                          <p class="descuento">15% OFF</p>
                      </div> 
                          <h3 class="nombre-producto">Juego de Quillas </h3>
                  </article>
          
                  </div>
          
          </section>
          
          <section class="secciones"> 
          
              <h2 class="titulo-secciones">Nuestras Marcas</h2>
          
              <div class="contenedor-marcas">
          
                      <a href="#"><img src="/images/Marcas/billabong.jpg" alt="billabong"></a>
                      <a href="#"><img src="/images/Marcas/oneil.jpg" alt="oneil"></a> 
                      <a href="#"><img src="/images/Marcas/quicksilver.jpg" alt="quicksilver"></a> 
                      <a href="#"><img src="/images/Marcas/rip-curl.jpg" alt="rip-curl"></a> 
                      <a href="#"><img src="/images/Marcas/bicsurf.jpg" alt="bicsurf"></a> 
          
              </div>
          
          </section>
          
          <section class="secciones"> 
          
              <h2 class="titulo-secciones">Nuestras Escuelas</h2>
          
              <div class="contenedor-escuelas">
          
          
                      <a href="https://www.youtube.com/watch?v=KhZoTBuxHKY"><img src="/Videos/video1.jpg" alt="billabong"></a>
                      <a href="https://www.youtube.com/watch?v=x8dg7XKu_CI"><img src="/Videos/video2.jpg" alt="hawai"></a>
                      <a href="https://www.youtube.com/watch?v=1_azHA9quYg"><img src="/Videos/video3.jpg" alt="hawai"></a>
                      <a href="https://www.youtube.com/watch?v=tLB0We5SU2M"><img src="/Videos/video4.jpg" alt="brasil"></a>
          
              </div>
          
          </section>
          
          
          
          
          </section>

<footer>
    
    <img class="img-fondo-footer" src="./images/footer/bg-img.jpg" alt="Tematic image">
        
    <section class="section-footer">
                  
    <section class="footer-img-leyenda">
        <img class="size-logo-footer" src="./images/Logo/logo2.jpg" alt="Logo Take off surf">
        <p class="texto-footer">  Take off surf: Somos una empresa joven con la mision de contectar a surfistas ...
                mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis no
                strud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
        </p>         
    </section>      
              
                      
    <section class="column1-2">     
        <ul>   
            <i class="footer-columm1"> Informacion</i>
            <li> <i class="fas fa-envelope"></i><a href="#" >Contacto</a></li>
            <li> <i class="fas fa-question-circle"></i><a href="#">Preguntas frecuentes</a></li>
            <li> <i class="fas fa-book-open"></i><a href="#"> Terminos y condiciones</a></li>
            <li> <i class="fas fa-credit-card"></i><a href="#"> Medios de Pago</a></li>
        </ul>
            <ul>  
                <i class="footer-columm2"> Redes</i>
                <li><i class="fab fa-instagram-square"></i><a href="#"> Instagram</a></li>
                <li><i class="fab fa-facebook"></i><a href="#">Facebook</a></li>
                <li><i class="fab fa-twitter"></i><a href="#">Twiter</a></li>
            </ul>
        </section>    
    
        <section>
            <p class="copyright">Copyright <i class="fas fa-copyright"></i> 2022-2022 TAKE OFF SURF S.R.L.Todos los derechos reservados.</p>
        </section> 
        <div>
            <p class="firma-grupo">  @Grupo_7_Development_Group   </p>
        </div>
        
    </section>  
    </footer>
    
</body>


</html>