<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAKE OFF SURF</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">

    <link rel = "stylesheet" href = "/css/normalize.css"/>
    <link rel = "stylesheet" href = "/css/utils.css"/>
    <link rel = "stylesheet" href = "/css/theme.css"/>
    <link rel = "stylesheet" href = "/css/styles-tablet.css"/>
    <link rel = "stylesheet" href = "/css/styles-desktop.css"/>
</head>

<body>
    
    <header class="bg-green p-8">
        
        <div class="flex fx-wrap fx-align-center">

        
        <h1>
            <img src="/images/logo/logo-tks.png" alt="Take Off Surf" />
        </h1>
        </div>
        

        <nav class="hide nav-section mt-8 w-100 fx-space-between">
            <ul class="mb-8 flex">
                <li class="mx-8"><a href="#"> Contact us </a></li>
                <li class="mx-8"><a href="/login"> Log in </a></li>
                <li class="mx-8"><a href="/register"> Register </a></li>
            </ul>        
        
            <ul class="mb-8 flex">
                <li class="mx-8"><a href="#"> Inicio </a></li>
                <li class="mx-8"><a href="/productos"> Productos </a></li>
                <li class="mx-8"><a href="/escuelas-de-surf"> Escuelas de Surf</a></li>
                <li class="mx-8"><a href="/nosotros"> Nosotros </a></li>
                <li class="mx-8"><a href="/carrito"> Carrito </a></li>
            </ul>
        </nav>
               
        <div class="burger-menu font-heading tablet-hide mt-8">
            <i class="fas fa-bars"></i>
        </div>        

        </div>
      
    </header>

    <main>




    </main>

    <footer>

        <img class="img-fondo-footer" src="./images/footer/bg-img.jpg" alt="Tematic image">
        
        <section class="section-footer">
                  
         <section class="footer-img">
            <img class="size-logo-footer" src="./images/Logo/logo2.jpg" alt="Logo Take off surf">
            
            <p class="texto-footer">   Take off surf: Somos una empresa joven con la mision de contectar a surfistas ...
                mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis no
                strud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
            
            </p>
         </section>      
              
                      
        <section class="column1-2">     
            <ul>   
                <i class="footer-columm1"> Informacion</i>
                <li> <i class="fas fa-envelope"></i><a href="#" >Contacto</a></li>
                <li> <i class="fas fa-question-circle"></i><a href="#">Preguntas frecuentes</a></li>
                <li> <i class="fas fa-book-open"></i><a href="#"> Terminos y condiciones</a></li>
                <li> <i class="fas fa-credit-card"></i><a href="#"> Medios de Pago</a></li>
            </ul>
            <ul>  
                <i class="footer-columm2"> Redes</i>
                <li><i class="fab fa-instagram-square"></i><a href="#"> Instagram</a></li>
                <li><i class="fab fa-facebook"></i><a href="#">Facebook</a></li>
                <li><i class="fab fa-twitter"></i><a href="#">Twiter</a></li>
            </ul>
        </section>    
    
        <section>
            <p class="copyright">Copyright <i class="fas fa-copyright"></i> 2022-2022 TAKE OFF SURF S.R.L.Todos los derechos reservados.</p>
        </section> 
        <div>
            <p class="firma-grupo">  @Grupo_7_Development_Group   </p>
        </div>
        
    </section>  

    
    </footer>
    
</body>


</html>