<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAKE OFF SURF</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css"> 


</head>



<body>



    <footer>
        
        <section class="section-footer">
                     
         <section class="footer-img">
            <img class="size-logo-footer" src="./images/Logo/logo2.jpg" alt="Logo Take off surf">
            <P> TAKE OFF SURF: Somos una empresa joven con el iniciativa de conectar a surfista de todas
                 partes del mundo con su table ideal, ademas de con escuelas de surf de diferentes zonas para obtener la 
                mejor experiencia en cada lugar del planeta.</P>
         </section>      
            
                   
                      
        <section class="column1-2">     
            <ul>   
                <i class="footer-columm1"> Informacion</i>
                <li> <i class="fas fa-envelope"></i> Contacto</li>
                <li> <i class="fas fa-question-circle"></i> Preguntas frecuentes</li>
                <li> <i class="fas fa-book-open"></i> Terminos y condiciones</li>
                <li> <i class="fas fa-credit-card"></i> Medios de Pago</li>
            </ul>
            <ul>  
                <i class="footer-columm2"> Redes</i>
                <li><i class="fab fa-instagram"></i> Instagram</li>
                <li><i class="fab fa-facebook"></i>Facebook</li>
                <li><i class="fab fa-twitter"></i>Twiter</li>
            </ul>
        </section>

        </section>  

        <section class="accesos-footer">
            <ul class="nav-accesos-footer">  
                <li><a href="#" >Ofertas</a></li>
                <li><a href="#" >Tablas de surf</a></li>
                <li><a href="#" >Indumentaria</a></li>
                <li><a href="#" >Escuelas</a></li>
                <li><a href="#" >Tablas personalizadas</a></li>
                <li><a href="#" >Accesorios</a></li>
                <li><a href="#" >Fundas de tablas</a></li>
                <li><a href="#" >Ropa neoprene</a></li>
                <li><a href="#" >Ceras</a></li>
                <li><a href="#" >Contacto</a></li>
                <li><a href="#" >Home</a></li>

            </ul>
             


        </section>
    
        <section>
            <p class="copyright">Copyright <i class="fas fa-copyright"></i> 2022-2022 TAKE OFF SURF S.R.L.Todos los derechos reservados.</p>
        </section> 
    
    
    </footer>
    
</body>


</html>