<!DOCTYPE html>

<html lang="en">
<head>
<%- include ('./partials/head') %> 
<link rel = "stylesheet" href = "/css/register.css"/>
</head>

<body class="bg-light-gray w-100">

    <%- include ('./partials/header') %> 
    
    <main>

<div class="log">
        
    <section class="form-login">
        <h3>Iniciar sesión</h3>

        <% if (typeof errors != "undefined") { %>
            <p>ERROR</p>
            <ul>
                <% for (let i = 0; i < errors.leght; i++){ %>
                    <li>
                        <%= errors[i].msg %> 
                    </li>
                <% } %> 
            </ul>
        <% } %> 
        
        <form class="register-form" action="/users/login" method="POST" enctype="multipart/form-data">
            
            <label for="">Usuario:</label>
            <input type="text" placeholder="Escriba su usuario" name="firstName" required>
            
            <label for="">Contraseña:</label>
            <input type="password" placeholder="Escriba su contraseña" name="password" required>
            
            <input type="submit" class="boton" value="Login">
            
            <input class="boton2" type="checkbox" checked="checked" name="remember"> Recordarme
            
        </form>
        
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        </div>
        

    </section>
</div>

          
</main>


<%- include ('./partials/footer') %> 

</body>


</html>