<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAKE OFF SURF</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">

    <link rel = "stylesheet" href = "/css/normalize.css"/>
    <link rel = "stylesheet" href = "/css/utils.css"/>
    <link rel = "stylesheet" href = "/css/theme.css"/>
    <link rel = "stylesheet" href = "/css/styles-tablet.css"/>
    <link rel = "stylesheet" href = "/css/styles-desktop.css"/>
</head>

<body>

    <article class="box-producto">
          
        <div class="descripcion-productos">

        <div class="img-productos">
          
             <ul class="img-productos-mini">
                <li><img src="/images/tablas/tabla1.jpg" alt="Tabla 1"></li>
                <li><img src="/images/tablas/tabla1.jpg" alt="Tabla 1"></li>
                <li><img src="/images/tablas/tabla1.jpg" alt="Tabla 1"></li>
                <li><img src="/images/tablas/tabla1.jpg" alt="Tabla 1"></li>
            </ul>
           
             <div class="img-productos-principal">
            <img src="/images/tablas/tabla1.jpg" alt="Tabla 1">
            </div>
        </div>
        
        <div class="detalles-productos">
                <p class="titulo-productos">Tabla de surf </h3>
             <div class="container-caract-productos">       
                <p class="caract-productos">Caracteristicas </p>
                <ul>                
                    <li>Marca: reef</li>
                    <li>Largo: 7 feet</li>
                    <li>Ancho: 2 feet</li>
                    <li>grosor: 1 pulgada</li>
                    <li>volumen: 5 litros</li>
                    <li>Tipo: Mini Malibu </li>
                    <li>Material: Fibra </li>
                    <li>Quillas: TRIN FIN O THRUSTER </li>
                </ul>
            </div>
                <p class="precio-productos">$10000</p>
                <a class="boton-comprar" href="/comprar">Comprar</a>

            </div>    

        </div>


       
    </article>

   
</body>
</html>