<!DOCTYPE html>

<html lang="en">
<head>
<%- include ('./partials/head') %> 
</head>

<body class="bg-light-gray w-100">

<%- include ('./partials/header') %> 

    <section class="container">

    
    <article class="box-producto">
          
        <div class="descripcion-productos">

        <div class="img-productos">
          
             <ul class="img-productos-mini">
                <li><img src="/images/tablas/tabla1.jpg" alt="Tabla 1"></li>
                <li><img src="/images/tablas/tabla1.jpg" alt="Tabla 1"></li>
                <li><img src="/images/tablas/tabla1.jpg" alt="Tabla 1"></li>
                <li><img src="/images/tablas/tabla1.jpg" alt="Tabla 1"></li>
            </ul>
           
             <div class="img-productos-principal">
            <img src="/images/tablas/tabla1.jpg" alt="Tabla 1">
            </div>
        </div>
        
        <div class="detalles-productos">
                <p class="titulo-productos">Tabla de Surf </p>
                 <p class="modelo-producto"> Malibu 9pies triwind</p>  
             
                <p class="precio-productos">$10000   </p>
                <p class="contado-productos">30% OFF en un pago $7000 </p>
                <p class="cuotas-productos"> o 12 cuotas fijas de $1000 </p>
                <p class="cantidad-productos">Cantidad de productos: 
                <select class="cantidad-items" name="Cantidad">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select></p>

                <p class="text-center boton-compra-container"><a class="boton-comprar" href="/"> Comprar </a></p>
                <p><a class="agregar-carrito fas fa-shopping-cart" href="/"> Agregar al carrito</a></p>
                <div class="medios-pagos"> 
                   <h2 >Medios de pago</h2> 
                    <p><i class="fab fa-cc-visa">  Visa</i>
                    <i class="fab fa-cc-mastercard">  Mastercard </i></p>
                    <p><i class="fab fa-cc-amex">  American Express</i>
                    <i class="fas fa-money-bill-wave">  Efectivo/transferencia</i></p>
                </div>

            </div>    

        </div>
        <div class="container-caract-productos">       
            <p class="caract-productos">Caracteristicas </p>
            <ul class="lista-caracteristicas">                
                <li>Marca: reef</li>
                <li>Largo: 7 feet</li>
                <li>Ancho: 2 feet</li>
                <li>grosor: 1 pulgada</li>
                <li>volumen: 5 litros</li>
                <li>Tipo: Mini Malibu </li>
                <li>Material: Fibra </li>
                <li>Quillas: TRIN FIN O THRUSTER </li>
            </ul>
        </div>
       
        <section class="descripcion-general">
        <div class="texto-descripcion">
             <h2>Descripcion :</h2>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quasi quos placeat 
             quisquam error adipisci atque unde sint esse suscipit accusamus,
              consequuntur magnam totam minima numquam quidem architecto, tenetur animi.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus doloribus p
              rovident sed, possimus earum est, aperiam eius animi perferendis c
              onsectetur dolores a commodi, nisi fugit? Quis voluptatem quasi reiciendis amet?
        </div>
     </section>
            
    </article>
    <section class="flex fx-wrap mt-16 fx-align-center tablas-relacionadas">
    
        <h2 class="font-heading mb-8 w-100 text-left ">Productos Relacionados</h2>
        
        <div class="w-50 w-desktop-25 p-8">
            <article class="product mb-8 bg-olive">
                <a href="/productos"><img class="w-100" src="/images/tablas/tabla1.jpg" alt="Tabla de surf"/></a>
                <div class="flex fx-wrap fx-align-center">
                    <h3 class="font-medium product-title w-100 text-center">Tabla de surf</h3>
                    <p class="font-large w-50 text-center">$6.770</p>
                    <p class="font-medium w-50 text-center">40% OFF</p>
                </div>
            </article>
        </div>

        <div class="w-50 w-desktop-25 p-8">
            <article class="product mb-8 bg-olive">
                <a href="/productos"><img class="w-100" src="/images/tablas/tabla-7.png" alt="Tabla de madera"/></a>
                <div class="p-8 b-top-1 flex fx-wrap fx-align-center">
                    <h3 class="font-medium product-title w-100 text-center">Tabla de madera</h3>
                    <p class="font-medium fx-grow-50 text-center">$6.770</p>
                    <p class="font-medium fx-grow-50 text-center">40% OFF</p>
                </div>
            </article>
        </div>

        <div class="w-50 w-desktop-25 p-8">
            <article class="product mb-8 bg-olive">
                <a href="/productos"><img class="w-100" src="/images/tablas/tabla-1.jpeg" alt="Tabla surf Olaian"/></a>
                <div class="p-8 b-top-1 flex fx-wrap fx-align-center">
                    <h3 class="font-medium product-title w-100 text-center">Tabla Surf 7' Evolutiva Olain</h3>
                    <p class="font-medium fx-grow-50 text-center">$30.000</p>
                    <p class="font-medium fx-grow-50 text-center">40% OFF</p>
                </div>
            </article>
        </div>

        <div class="w-50 w-desktop-25 p-8">
            <article class="product mb-8 bg-olive" >
                <a href="/productos"><img class="w-100" src="/images/tablas/tabla-2.jpg" alt="Tabla de surf"/></a>
                <div class="p-8 b-top-1 flex fx-wrap fx-align-center">
                    <h3 class="font-medium product-title w-100 text-center">Tabla Malibú  Olaian 500 7'8</h3>
                    <p class="font-medium fx-grow-50 text-center">$32.770</p>
                    <p class="font-medium fx-grow-50 text-center">40% OFF</p>
                </div>
            </article>
        </div>

    </section>

    <section class="flex fx-wrap mt-16 fx-align-center accesorios-relacionados">
    
        <h2 class="font-heading mb-8 w-100 text-left ">Accesorios Relacionados</h2>
        
        <div class="w-50 w-desktop-25 p-8">
            <article class="product mb-8 bg-olive">
                <a href="/productos"><img class="w-100" src="/images/Accesorios/correa.jpg" alt="Correa de sujeción"/></a>
                <div class="p-8 b-top-1 flex fx-wrap fx-align-center">
                    <h3 class="font-medium product-title w-100 text-center">Correa de sujeción</h3>
                    <p class="font-medium fx-grow-50 text-center">$6.770</p>
                    <p class="font-medium fx-grow-50 text-cente">40% OFF</p>
                    
                </div>
            </article>
        </div>

        <div class="w-50 w-desktop-25 p-8">
            <article class="product mb-8 bg-olive">
                <a href="/productos"><img class="w-100" src="/images/Accesorios/funda.jpg" alt="Funda de tabla"/></a>
                <div class="p-8 b-top-1 flex fx-wrap fx-align-center">
                    <h3 class="font-medium product-title w-100 text-center">Funda de tabla</h3>
                    <p class="font-medium fx-grow-50 text-center">$6.770</p>
                    <p class="font-medium fx-grow-50 text-center">40% OFF</p>
                    
                </div>
            </article>
        </div>

        <div class="w-50 w-desktop-25 p-8">
            <article class="product mb-8 bg-olive">
                <a href="/productos"><img class="w-100" src="/images/Accesorios/parafina.jpg" alt="Parafina en barra"/></a>
                <div class="p-8 b-top-1 flex fx-wrap fx-align-center">
                    <h3 class="font-medium product-title w-100 text-center">Parafina en barra</h3>
                    <p class="font-medium fx-grow-50 text-center">$6.770</p>
                    <p class="font-medium fx-grow-50 text-center">40% OFF</p>
                </div>
            </article>
        </div>

        <div class="w-50 w-desktop-25 p-8">
            <article class="product mb-8 bg-olive">
                <a href="/productos"><img class="w-100" src="/images/Accesorios/quilla.jpg" alt="Juego de quillas"/></a>
                <div class="p-8 b-top-1 flex fx-wrap fx-align-center">
                    <h3 class="font-medium product-title w-100 text-center">Juego de quillas</h3>
                    <p class="font-medium fx-grow-50 text-center">$6.770</p>
                    <p class="font-medium fx-grow-50 text-center">40% OFF</p>
                </div>
            </article>
        </div>
        </section>

    </section>

   
<%- include ('./partials/footer') %> 

</body>
</html>