<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Off Surf - Formulario de Registro</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">

    <link rel = "stylesheet" href = "/css/normalize.css"/>
    <link rel = "stylesheet" href = "/css/utils.css"/>
    <link rel = "stylesheet" href = "/css/theme.css"/>
    <link rel = "stylesheet" href = "/css/styles-tablet.css"/>
    <link rel = "stylesheet" href = "/css/styles-desktop.css"/>

</head>
<body>
    <header class="bg-light-blue p-8">
        
            <h1 class="em-10 w-50">
                <img  class="w-300" src="/images/logo/logo2.jpg" alt="Logo" />
            </h1>   
  
        

        <nav class="hide nav-section mt-8 w-100 fx-space-between">
            <ul class="mb-8 flex">
                <li class="mx-8"><a href="#"> Contact us </a></li>
                <li class="mx-8"><a href="/login"> Log in </a></li>
                <li class="mx-8"><a href="/register"> Register </a></li>
            </ul>        
        
            <ul class="mb-8 flex">
                <li class="mx-8"><a href="#"> Inicio </a></li>
                <li class="mx-8"><a href="/productos"> Productos </a></li>
                <li class="mx-8"><a href="/escuelas-de-surf"> Escuelas de Surf</a></li>
                <li class="mx-8"><a href="/nosotros"> Nosotros </a></li>
                <li class="mx-8"><a href="/carrito"> Carrito </a></li>
            </ul>
        </nav>
               
        <div class="burger-menu font-heading tablet-hide mt-8 text-center">
            <i class="fas fa-bars"></i>
        </div>        
    
    </header>
    <main>
        <div class="">
           <!--
            <div class="fb-side-banner">

            <img  src="/public/images/register/reg-side-banner.jpg" alt="Register">
            </div> 
        -->

            <div class="form-box">
                <form class="register-form" action="/" method="get">
                    <h2 class="reg-form-title">Formulario de Registro</h2>
                    <div class="reg-form-image">
                        <img>
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" type="text" name="first-name" id="nombre" placeholder="Nombre">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" type="text" name="last-name" id="apellido" placeholder="Apellido">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" type="mail" name="email" id="email" placeholder="Correo Electrónico">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" type="password" name="password" id="password" placeholder="Contraseña">
                    </div>
                    <div class="reg-inp reg-form-date-select">
                        <input class="reg-inp" type="date" name="birthday" id="nacimiento">
                    </div>
                    <div class="reg-form-compliance">

                    </div>
                    <div class="reg-form-submit-button">

                    </div>
                </form>
            </div>
        </div>
        <div class="register-login-bar">

        </div>
    </main>
</body>
</html>