<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('./partials/head') %> 
    <link rel = "stylesheet" href = "/css/register.css"/>
</head>
<body>

<%- include ('./partials/header') %> 

    <main class="reg-main">
        <div class="">
           <!--
            <div class="fb-side-banner">

            <img  src="/public/images/register/reg-side-banner.jpg" alt="Register">
            </div> 
        -->

            <div class="form-box">
                <form class="register-form" action="/users/register" method="POST" enctype="multipart/form-data">
                    <h2 class="reg-form-title">Formulario de Registro</h2>
                    <div class="reg-form-image">
                        <img>
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" required type="text" name="firstName" id="nombre" placeholder="Nombre">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" required type="text" name="lastName" id="apellido" placeholder="Apellido">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" required type="number" name="dni" id="dni" placeholder="Documento">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" required type="text" name="direction" id="direction" placeholder="Direccion">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" required type="mail" name="email" id="email" placeholder="Correo Electrónico">
                    </div>
                    <div class="reg-form-box">
                        <input class="reg-inp" required type="password" name="password" id="password" placeholder="Contraseña">
                    </div>
                    <div class="reg-inp reg-form-date-select">
                        <input class="reg-inp" required type="date" name="birthdate" id="nacimiento">
                    </div>

                    <div class="reg-form-box">
                        <label for="image" class="form-label">Imagen de Perfil</label>
                        <input class="reg-inp" type="file" name="image" id="image">
                   </div>
                    <div class="reg-form-box">
                        <input type="checkbox" required>
                        <label for="checkpoint">Al continuar, doy fe de entender y aceptar la política de privacidad, los términos y condiciones y los términos de uso del sitio web. Al clickear “únete ahora” reconozco aceptar formar parte del programa de beneficios de Take off Surf y recibir ofertas exclusivas en mi correo electrónico. Puede desuscibirse en cualquier momento clickeando elboton “desuscribir” ubicado en el final de los correos electrónicos recibidos.</label>
                    </div>
                    <div class="reg-form-box">
                        <button class="reg-form-button" type="submit">Enviar</button>
                    </div>
                    <div class="reg-form-box">
                        <button class="reg-form-button" type="reset" >Resetear</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="register-login-bar">

        </div>
    </main>
<%- include ('./partials/footer') %> 
</body>
</html>