<!DOCTYPE html>

<html lang="en">
<head>
<%- include ('./partials/head') %> 
</head>

<body class="bg-light-gray w-100">

<%- include ('./partials/header') %> 

<main class="w-100 p-8 m-center">

    <h1>DEtalle de usuario</h1>

</main>

<%- include ('./partials/footer') %> 
    
</body>


</html>