/* Comments */
.comments{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.comments-div{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    padding: 8px;
    background-color: #afe0fc;
    border-radius: 10px;
}

.form-label{
    text-align: center;
    width: 100%;
    padding: 8px;
    margin: 0;
}

.form-div{
    text-align: center;
    width: 33.3%;
    padding: 8px;
}

li{
    list-style: none;
}
a {
    color: black;
}