


.first-section{
    display: flex;
    width: 100%;

}

.second-section{
    display: flex;
    width: 100%;
}

.asunto{
    width: 50%;
}

.coments{
    width: 100%;
}

.coments_container{
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    background-color: rgb(175, 224, 252, 0.8);

}

.coments_box{
    margin: 10px;
    padding: 10px;
    border: solid 1px black;

}

