
/* Nosotros */
.section-nosotros{
    width: 100%;
}

.img-nosotros{
    text-align: center;
    padding: 8px;
    width: 100%;
}

.img-nosotros img{
    width: 100%;
    text-align: center;
    align-items: center;
}

.datos-nosotros{
    background-color: #afe0fc;
    width: 100%;
}

.datos-nosotros ul{
    margin-bottom: 0;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.datos-nosotros ul li{
    width: 100%;
    margin-top: 2px;
    list-style: none;
    text-align: center;
    font-size: 20px;
}

.datos-nosotros ul li i{
    font-size: 2em;
    width: 100%;
    padding: 8px;
}
