@media (min-width: 576px){
    .nav-bar{
        display: none;
    }





    /*producto*/


    .descripcion-productos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

      
    }
    
    .container-caract-productos {
        display: flex;
    }     




}