@media (min-width: 576px){
    .nav-bar{
        display: none;
    }










    /*producto*/


    .descripcion-productos {
        display: flex;
        justify-content: space-between;

      
    }
    
    .container-caract-productos {
        display: flex;
    }     




}