body{
    
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 12px;
    margin: auto;
    padding: 0px;
}




.section-footer{
    color:#118f75;
    font-size: medium;
}


.size-logo-footer{

    width: 20%;
    height: 20%;   
}


.column1-2{
    display:flex;
    justify-content: space-around;
}

.footer-img{
    display: flex;
}

.img-fondo-footer{
    width: 100%;
    opacity: 0.3;
    position:absolute;
    }

.texto-footer{
    text-align: center;
    font-weight: bold;
}

.footer-columm1{
    font-weight: bold;
    font-size: medium;

}
.footer-columm2{
    font-weight: bold;
    font-size: medium;

}


.size-img-footer{
    width: 100%;
    text-align: ri;
    position:absolute;
    opacity: 0.3;
}


.copyright{
    
    color:white;
    background-color:gray;
    text-align: center;
    font-size: medium;
}
.accesos-footer{
margin: auto;
background-color: #118f75;
}

.nav-accesos-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-size: small;
    padding: 5%;   
    
}

.nav-accesos-footer li{
  list-style: none;  
  margin: 2%;
  font-size: 25px;
}

.nav-accesos-footer li a{
    text-decoration: none;
    font-weight: bold;
    color:black
  }

 .firma-grupo{
     color:blueviolet;
     font-size: small;
     text-align: center;
     text-decoration: underline;    
 }

