@media (min-width: 769px){
    button:hover{
        background-color: #4b7994;
    }

    .descripcion-productos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

      
    }
    
 

}

