@media (min-width: 769px){
    button:hover{
        background-color: #4b7994;
    }

    .descripcion-productos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    /* Nosotros */
    .section-nosotros{
        text-align: center;
    }
    
    .datos-nosotros ul li{
        width: 33%;
    }

    .datos-nosotros ul li i:hover{
        color: #4b7994;
    }

}

