* {
    box-sizing: border-box;
}

body{
    
    font-family: "Mukta", sans-serif;
    font-size: 12px;
    margin: auto;
    padding: 0px;   
    background-color:white;
}

h1{
    margin: 0;
}

a:link {
    color: black;
    text-decoration: none;
}

/* Colors */
.bg-white{
    background-color: white;
}

.font-green{
    color: #c1dd50;
}

.bg-green{
    background-color: #c1dd50
}

.font-yellow{
    color: #ECCF5C;
}

.bg-yellow{
    background-color: #ECCF5C;
}

.font-blue{
    color: #122373;
}

.bg-blue{
    background-color: #122373;
}

.font-light-blue{
    color: #20AFD9;
}

.bg-light-blue{
    background-color: #20AFD9;
}

.header-logo{
    max-height:100%;
     min-height:20%;
     width:50%;
}

.bg-water-green{
    background-color: #0C7256;
}

.bg-light-gray{
    background-color: lightgray
}

.bg-gray{
    background-color: gray;
}

.bg-olive{
    background-color: olive;
}


/* Font size */
.font-heading {
    font-size: 24px;
    font-weight: bold;
}
.font-large {
    font-size: 18px;
}  
.font-medium {
    font-size: 16px;
}
.font-small{
    font-size: 12px ;
}
.font-2em{
    font-size: 2em;
}


/* Nav */
.nav-section {
    padding-left: 1%;
    padding-right: 1%;
}

.nav-section li a {
    color: black;
    text-decoration: none; /*saqué el subrayado*/
}

.nav-section li {
    list-style: none; /*saqué los dots*/
}

/* Burger menu */

.burger-menu{
    text-align: center;
}

.burger-menu i {
    padding: 8px;
    background-color: #0C7256;
    color: #ebebeb;
    border-radius: 5px;
}


.secciones{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightgray;
}

.titulo-secciones {
    font-size: 40px;
    font-weight: bold;
}
.contenedor-productos{
    display:flex;
    justify-content: space-between;
}

.producto img{
    width: 100%;
    height: 300px;
    border: solid 1px black;

}

.descrip-producto {
    display: flex;
    justify-content: space-around;
}
.descrip-producto p {
    font-size: 20px;
    padding: 5px;
    margin: 0px;
}
.producto h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0px;

}


.contenedor-marcas{
    display: flex;
    justify-content: space-around;
}

.contenedor-marcas img{
width: 100%;
height: 100px;
border: solid 1px black;
}

/* footer*/

footer{
    position:relative;
}

.img-fondo-footer{
    width: 100%;
    height: 450px;
    position:absolute;
    opacity: 0.3;

}

.section-footer{
    color:#118f75;
    font-size: medium;
}

.footer-img-leyenda{
    display: flex;
}

.size-logo-footer{

    width: 10%;
    height: 10%;  
    padding-left: 15px;
 
}

.texto-footer{
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

.column1-2{
    display:flex;
    justify-content: space-around;
}

.footer-columm1{
    font-weight: bold;
    font-size: medium;

}
.footer-columm2{
    font-weight: bold;
    font-size: medium;

}

.column1-2 ul li a{
    text-decoration: none;
    }

.copyright{
    
    color:white;
    background-color:gray;
    text-align: center;
    font-size: medium;
}

 .firma-grupo{
     color:blueviolet;
     font-size: small;
     text-align: center;
     text-decoration: underline;    
 }

/* Slides */
 .slides {
    padding: 8px;
    width: 100%;
    height: 420px;
    display: block;
    position: relative;
}


.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}



input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;

}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}




/*html productos*/

.box-producto{
    width: 100%;
    background-color: white;
}

.descripcion-productos {
    display:block;
    padding: 10px;

}

.img-productos{
    display: flex;
    justify-content: space-between;
}

.img-productos-mini{
    margin: 0px;
    padding: 10px;
}


.img-productos-mini li{
list-style: none;
margin: 0px;
padding: 0px;
}
.img-productos-mini img{
    width: 40px;
    border: solid lightseagreen 1px;
    border-radius: 15%;
}


.img-productos-principal{
    width: 100%;
}
.img-productos-principal img{
    width: 100%;
}


.detalles-productos{
    border: solid lightseagreen 1px;
    padding: 0px 10px;
    border-radius: 3%;
}

.titulo-productos{
    font-size: 30px;
    font-weight: bold;
}

.container-caract-productos {
    display: block;
}

.caract-productos {
    font-size: 15px;
}
.detalles-productos ul li{
    font-size: 15px;
}

.precio-productos{
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
}

.boton-comprar{
    border: solid black 2px;
    background-color: lightcoral;
    text-decoration: none;
    color:blue;
    border-radius: 10%;  
    font-size: 20px; 

}

.agregar-carrito{
    font-size: 15px;
    color: olive; 

}




/* Products*/
.product img {
    aspect-ratio: 4/4;
}
/* Footer*/
.footer-article li a {
    color: black;
    text-decoration: none; /*saqué el subrayado*/
}

.footer-article li {
    list-style: none; /*saqué los dots*/
}
