/* Width */
.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.w-25{
    width: 25%;
}

/* Text position*/
.text-center{
    text-align: center;
}


/* Padding */
.p-8{
    padding: 8px;
}

/* Margin */
.mt-8{
    margin-top: 8px;
}

.mb-8{
    margin-bottom: 8px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.my-5{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Flex */
.flex {
    display: flex;
}

.fx-wrap{
    flex-wrap: wrap;
}

.fx-align-center {
    align-items: center;
}

.fx-space-between{
    justify-content: space-between;
}

.fx-end{
    justify-content: end;
}

.fx-column{
    flex-direction: column;
}

/* Border */
.radius-50{
    border-radius: 50%;
}

/* Size */
.em-2{
    font-size: 2em;
}

/* Position */
.pn-relative{
    position: relative;
}

@media (min-width: 576px){
    
}


@media (min-width: 769px){
    
}