/* Sections */
.section-product{
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 0;
}
.product-name{
    text-align: center;
    font-weight: bold;
    color: rgb(33, 37, 36);
}
/* Banner producto */
.banner-product{
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    align-items: center;
    height: 50%;
}
.banner-product ul{
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    width: 25%;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 8px;
}
.img-products-mini{
    display: flex;
    flex-direction: column;
}
.img-products-mini img{
    width: 100%;
    border: solid lightseagreen 1px;
    border-radius: 15%;
}
/* Article producto datos*/
.article-product{
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    align-items: center;
    text-align: center;
    font-size: 14px;
}
.article-product ul{
    width: 100%;
    padding: 8px;
    align-items: center;
    margin: 0;
    text-align: center;
}
.article-product li{
    width: 100%;     
    text-align: center;  
    padding: 8px;
    margin-bottom: 10px;
}
.container{
    width: 90%;
    margin:auto;
    background-color: aliceblue;
    margin-top: 20px;
}
.price{
    background-color: #efefef;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
}

/* Blue container*/
.blue-container{
    background-color: #afe0fc;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
}
.blue-container ul{
    list-style: none;
}
.blue-container li{
    padding: 8px;
}
.foto-producto{
    position: relative;
    width: 100%;
}
/*Buttons*/
.product-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.product-buttons div{
    width: 100%;
    padding: 8px;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.product-buttons button {
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 8px;
}
/*Payment*/
.article-payment{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
}
.icon-container {
    padding: 8px;
    font-size: 24px;
}

.product-image{
    position: absolute;
}

.product-image img {
    position: relative;
}