<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body class="bg-light-gray w-100">
    <%- include ('./partials/header') %>

    <main class="form-main">
      <section class="section-form">
        <div class="bg-light-blue br-10">
          <% if(locals.error) {%>
          <p class="form-error">Credenciales inválidas</p>
          <% } %>
          <form class="form" action="/users/login" method="POST">
            <h2 class="w-100">Iniciar sesión</h2>

            <div class="w-100 fx-align-center p-8" for="mail">
              <input
                class="form-inp"
                type="mail"
                placeholder="Correo electrónico"
                name="email"
                id=""
              />
            </div>

            <div class="w-100 fx-align-center p-8" for="password">
              <input
                class="form-inp"
                type="password"
                placeholder="Escriba su contraseña"
                name="password"
                id=""
              />
            </div>

            <div class="w-100 fx-align-center p-8">
              <input type="checkbox" name="recordame" />
              <label for="">Recordame </label>
            </div>

            <div class="w-100 fx-align-center p-8">
              <button class="form-button" type="submit">Enviar</button>
            </div>

            <div class="w-100 fx-align-center p-8">
              <button class="form-button" type="reset">Resetear</button>
            </div>
          </form>

          <div class="w-100 fx-align-center p-8">
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
          </div>
        </div>
      </section>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>