<footer class="w-100">

    <section class="footer p-8 flex fx-wrap fx-align-start">
        
        <article class=" p-8 footer-article w-100 w-desktop-33">
            <h2>Informacion</h2>
            <ul class="p-8">
                <li><i class="em-1 p-8 fas fa-envelope"></i><a href="/nosotros" >Contacto</a></li>
                <li><i class="em 1 p-8 fas fa-book-open"></i><a href="#"> Terminos y condiciones</a></li>
                <li><i class="em-1 p-8 fas fa-credit-card"></i><a href="#"> Medios de Pago</a></li>
            </ul>
        </article>

        <article class=" p-8 footer-article w-100 w-desktop-33">
            <h2>Redes</h2>
            <ul class="p-8">
                <li><i class="em-1 p-8 fab fa-instagram"></i><a href="https://www.instagram.com/"> Instagram</a></li>
                <li><i class="em-1 p-8 fab fa-facebook-f"></i><a href="https://www.Facebook.com/">Facebook</a></li>
                <li><i class="em-1 p-8 fab fa-twitter"></i><a href="https://twitter.com/?lang=es">Twiter</a></li>
            </ul>
        </article>

        <article class=" p-8 footer-article w-100 w-desktop-33">
            <h2>Creación productos</h2>
            <ul class="p-8">   
                <li><a href="/tablas/crear"><i class="em-1 p-8 fas fa-sign-in-alt"></i>Crear Tabla</a></li>
                <li><a href="/accesorios/crear"><i class="em-1 p-8 fas fa-sign-in-alt"></i>Crear Accesorio</a></li>
            </ul>
        </article>
    </section>

    <div class=" p-8 footer-article w-100">
        <p>Copyright <i class="fas fa-copyright"></i> 2022-2022 TAKE OFF SURF S.R.L.Todos los derechos reservados.</p>
    </div>

    <div>
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>  
    </div>
        
</footer>